<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartbits.vehicleservicingapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".loginandregistration.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".loginandregistration.LoginActivity">

        </activity>
        <activity android:name=".loginandregistration.RegisterActivity" />


        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".ConfirmBooking"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".AboutUs"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".Profile"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".SplashActivity"
           android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>